<div class="flex flex-col gap-4">
  <mat-card class="flex items-center">
    <mat-form-field appearance="outline" class="pt-5 w-100">
      <input matInput placeholder="Search ticker" />
    </mat-form-field>
  </mat-card>

  <mat-card class="w-1/2">
    <mat-card-header>
      <mat-card-title class="text-lg font-semibold"
        >Recent Searches</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      @for(ticker of recentSearches(); track ticker) {
      <div>{{ ticker }}</div>
      }
    </mat-card-content>
  </mat-card>
</div>
